body {
    background-image: url("/images/bg_wood_img.jpg");
}

b,
h1,
h2,
h3 {
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    text-align: center;
}

a {
    text-decoration: none;
}

b {
    font-size: 14px;
}

.img-logo {
    width: 18px;
    height: 18px;
}

.img-mini {
    width: 100%;
    height: auto;
}

.close {
    padding: 6px;
    width: 25px;
    height: 25px;
}

.a-icon {
    margin-left: 3px;
}

input:invalid {
    color: red;
    font-weight: bold;
}

.color_span_menu {
    color: #880808;
    background: #fafad2;
    font-weight: bold;
    padding: 1px;
    border-radius: 8px;
}

.imgInConteiner {
    padding: 3px;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #3274d6;
    padding: 1px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.header_login {
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 0px 0px;
    width: 600px;
    height: 3%;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5%;
}

.menu {
    background-color: #3274d6;
    padding: 1px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
}

.a-menu {
    background: #3274d6;
    margin-left: calc((100% - 44em)/24);
    color: #fafad2;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.a-menu-active {
    background: #3274d6;
    margin-left: calc((100% - 44em)/24);
    color: yellow;
    font-size: 20px;
    text-align: center;
}

.a-menu-alerts {
    background: #fafad2;
    margin-left: calc((100% - 44em)/24);
    border-radius: 8px;
    color: #880808;
    font-size: 20px;
    text-align: center;
}

.a-menu-alerts-active {
    background: yellow;
    margin-left: calc((100% - 44em)/11);
    border-radius: 8px;
    color: #880808;
    font-size: 20px;
    text-align: center;
}

.page_404 {
    text-align: center;
    color: #880808;
    font-size: 68px;
    width: 80%;
    margin-left: 10%;
    margin-top: 9%;
}

.denied {
    text-align: center;
    color: #ef0808;
    font-size: 72px;
    width: 100%;
    margin-top: 20%;
}

.main {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.main td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.main th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.main .main-th {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
}

.main .main-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    text-align: center;
}

.main-td-foto {
    width: 50px;
}

.main .main-td1 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.main .main-td2 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.main_modal {
    display: none;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 550px;
    height: 590px;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5px;
}

.main_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.main_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.main_modal form input[type="password"],
.main_modal form input[type="text"],
.main_modal form input[type="date"],
.main_modal form select {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.main_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.product {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.product td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.product .product-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 14px;
    text-align: center;
}

.product .comments-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 14px;
    text-align: center;
}

.product .comments-th1 {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 20px;
    text-align: center;
}

.product .comments-th2 {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.product-td-foto {
    width: 400px;
}

.product_modal {
    display: none;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 550px;
    height: 450px;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5px;
}

.product_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.product_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.product_modal form input[type="password"],
.product_modal form input[type="text"],
.product_modal form select {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.product_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.login {
    background-color: #3274d6;
    padding: 3px;
    border-radius: 0px 0px 20px 20px;
    width: 600px;
    height: 3%;
    margin-left: calc((100% - 500px)/2);
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 52px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 24px;
    color: yellow;
}

.login form input[type="password"],
.login form input[type="text"] {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.users {
    background-color: #fafad2;
    padding: 1px;
    width: 100%;
    margin-top: 5px;
}

.users td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.users th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
}

.users .users-th {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #880808;
    font-size: 14px;
}

.users .users-td {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    text-align: center;
}

.users .users-td1 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.users .users-td2 {
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 70px;
}

.users_modal {
    display: none;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 550px;
    height: 450px;
    margin-left: calc((100% - 500px)/2);
    margin-top: 5px;
}

.users_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.users_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.users_modal form input[type="password"],
.users_modal form input[type="text"],
.users_modal form select {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.users_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.userProfile_modal {
    display: block;
    background-color: #3274d6;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
    width: 550px;
    height: 450px;
    margin-left: calc((100% - 500px)/2);
    margin-top: 10;
}

.userProfile_modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.userProfile_modal form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    background: linear-gradient(to left, #ddd, #214e86);
    font-weight: bold;
    font-size: 18px;
    color: yellow;
}

.userProfile_modal form input[type="password"],
.userProfile_modal form input[type="text"],
.userProfile_modal form select {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.userProfile_modal form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: yellow;
    background: linear-gradient(to top, #ddd, #3274d6);
    border-radius: 0px 0px 20px 20px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}